  
.animation-translate {
    animation-name: transtateX;
    animation-duration: 3000ms;
    animation-timing-function: ease-in;
    animation-direction: alternate-reverse;



    transform: translateX(100px, 100px);
    animation: animateX50 3000ms infinite 1000ms;
    
  }

  @keyframes animateX50 {
    0% {
      transform: translateX(1600px);
    }
  
    50% {
      transform: translateX(0px);
    }
  
    100% {
      transform: translateX(-1600px);
    }
  }

  