.clients {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  
  .clients-titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: $title-text-color;
    margin-bottom: 50px;
  }
  
  /* clients-list */
  
  .clients-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  
  & > .clients-list__item {
    flex-basis: calc(100% / 6-30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  
  
  .clients-list__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $icon-color;
    border-radius: 4px;
    height: 90px;
    width: 170px;
    color: $icon-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .clients-list__icon {
    display: flex;
    fill: currentColor;
  }
  
  .clients-list__item a:hover,
  .clients-list__item a:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
  