.comunity {
  font-weight: 700;
  text-align: center;
  color: $title-text-color;
  margin-bottom: 50px;
  padding-top: 0;

  @media screen and (max-width: 1199px) {
    font-size: 28px;
    line-height: 1.18; 
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;    
  }
}

.teem {
  background-color: $secondary-bg-color;

  @media screen and (max-width: 1199px) {
    margin-top: 60px;
    padding-top: 60px;
  }
  
}
