.connection {
    display: inline-flex;
    margin-left: auto;
    align-items: center;

    &:hover .connection__icon-mail,
    &:focus .connection__icon-mail,
    &:hover .connection__icon-tel,
    &:focus .connection__icon-tel {
    color: $accent-color;
    fill: currentColor;
  }
  }
   
  .connection__item {
    align-items: center;
    display: inline-flex;

    & a:hover,
    & a:focus {
      color: $accent-color;
      fill: currentColor;
    }
  }   

  .connection__mail,
  .connection__tel {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    display: flex;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .connection__icon-mail {
    margin-right: 11px;
    fill: $icon-color-header;
    justify-content: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .connection__icon-tel {
    margin-left: 30px;
    margin-right: 10px;
    fill: $icon-color-header;
    justify-content: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  