  .footer-social__link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    & .footer-social__icon {
      width: 20px;
      height: 20px;
      fill: var(--icon-color);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    &:hover,
    &:focus {
      background-color: $accent-color;
      border: 50%;
    }
    
    &:hover .footer-social__icon,
    &:focus .footer-social__icon {
      fill: $primary-white-color;
    }
    
  }

 
  
  .footer-social__item:not(:last-child) {
    margin-right: 10px;
  }
  
  .footer-social__item .footer-social__icon {
    fill: $primary-white-color;
  }
  
  .footer-social {
    display: flex;

    @media screen and (min-width: 480px) {
      justify-content: center;
    }
  }
  
  .footer-titel {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white-color;

    @media screen and (min-width: 480px) {
      margin-bottom: 20px;
      text-align: center;
    }
    

    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
      text-align: center;
    }
    
    @media screen and (min-width: 1200px) {
      margin-bottom: 20px;
      text-align: start;;
    }

  }
  