/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.head {
  border-bottom: 1px solid $header-border-color;
  background-color: $primary-white-color;


}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
  @media screen and (max-width: 767px) {
    height: 60px;
    position: relative;
    
  }
}

.main-nav__nav {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   
 }

.main-nav__link-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: $accent-color;

  @media screen and (max-width: 767px)  {
    font-size: 24px;
    line-height: 1.17;
  }

  @media screen and (min-width: 768px)  {
    font-size: 24px;
    line-height: 1.17;
  }


  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.main-nav__link-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: $logo-color;

  @media screen and (max-width: 767px)  {
    font-size: 24px;
    line-height: 1.17;
  }

  @media screen and (min-width: 768px)  {
    font-size: 24px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1200px)  {
    font-size: 26px;
    line-height: 1.19;
  }
}


.main-nav__link {
  color: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-text-color;
  display: inline-block;

  

  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding: 26px 0;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 94px;
    padding: 24px 0;
  }
  
}