/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.decision {
  margin: auto;
  text-align: center;

  @media screen and (max-width: 479px) {
    padding-bottom: 118px;
    padding-top: 118px;
    max-width: 479px;
  } 

  @media screen and (max-width: 767px) {
    padding-bottom: 118px;
    padding-top: 118px;
    max-width: 767px;
  }  

  @media screen and (min-width: 768px) {
    padding-bottom: 118px;
    padding-top: 118px;
    min-width: 768px;
  }  

  @media screen and (min-width: 1200px) {
  padding-bottom: 200px;
  padding-top: 200px;
  max-width: 1600px;
  }  


}

.hero-foto {
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $bg-hero-second;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  height: 400px;
  background-image: -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(47, 48, 58, 0.4)),
      to(rgba(47, 48, 58, 0.4))
    ),
    url(../img/mobile/hero-m.jpg);
  background-image: -o-linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/mobile/hero-m.jpg);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/mobile/hero-m.jpg);
    background-size: 480px 400px;
}  

@media  screen and (min-device-pixel-ratio: 2),
screen  and  (-webkit-min-device-pixel-ratio: 2),
screen  and  (-o-min-device-pixel-ratio: 2/1),
screen  and  (min-resolution: 192dpi),
screen and  (-webkit-min-device-pixel-ratio: 2),
screen and  (-o-min-device-pixel-ratio: 2/1),
screen and  (min-resolution: 2dppx) {
    .hero-foto {
      background-image: -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(47, 48, 58, 0.4)),
      to(rgba(47, 48, 58, 0.4))
    ),
    url(../img/mobile/hero-m@2x.jpg);
      background-image: -o-linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/mobile/hero-m@2x.jpg);
      background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/mobile/hero-m@2x.jpg);
   
  }
}  

@media  screen and (min-width: 768px){ 
    .hero-foto {    
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-color: $bg-hero-second;
      margin-left: auto;
      margin-right: auto;
      max-width: 768px;
      height: 400px;
    background-image: -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(47, 48, 58, 0.4)),
      to(rgba(47, 48, 58, 0.4))
    ),
    url(../img/tablet/hero-t.jpg);
    background-image: -o-linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/tablet/hero-t.jpg);
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/tablet/hero-t.jpg);
    background-size: 768px 400px;
  }  
  @media  screen and (min-device-pixel-ratio: 2),
  screen  and (-webkit-min-device-pixel-ratio:2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {  
    .hero-foto {
      background-image: -webkit-gradient(
        
          linear,
          left top, left bottom,
          from(rgba(47, 48, 58, 0.4)),
          to(rgba(47, 48, 58, 0.4))
        ),
          url(../img/tablet/hero-t@2x.jpg);
      background-image: -o-linear-gradient(
        
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
          url(../img/tablet/hero-t@2x.jpg);
      background-image: linear-gradient(
        
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
          url(../img/tablet/hero-t@2x.jpg);
    } 
  }     
          
}      

  

 
  @media screen and (min-width: 1200px) {
    .hero-foto{
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(47, 48, 58, 0.4)),
      to(rgba(47, 48, 58, 0.4))
    ),
    url(../img/descktop/hero-d.jpg);
    background-image: -o-linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/descktop/hero-d.jpg);
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/descktop/hero-d.jpg);
    background-size: 1600px 600px;

    }
    @media  screen and (min-device-pixel-ratio: 2),
    screen  and (-webkit-min-device-pixel-ratio:2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {  
      .hero-foto {
        background-image: -webkit-gradient(
          
            linear,
            left top, left bottom,
            from(rgba(47, 48, 58, 0.4)),
            to(rgba(47, 48, 58, 0.4))
          ),
            url(../img/descktop/hero-d@2x.jpg);
        background-image: -o-linear-gradient(
          
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
            url(../img/descktop/hero-d@2x.jpg);
        background-image: linear-gradient(
          
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
            url(../img/descktop/hero-d@2x.jpg);
      } 
    }  
  }



.hero-foto__titel {
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-white-color;
  font-weight: 900;
  margin-bottom: 30px;
  
  margin-left: auto;
  margin-right: auto;


  @media screen and (max-width: 479px) {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
  }


  @media screen and (max-width: 767px) {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
  }

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
    animation: animate1 3000ms infinite 1000ms;

    @keyframes animate1 {
      0% {
        transform: scale(0);
        color: aqua;
      }
    
      50% {
        transform: scale(0.75);
        
      }
    
      100% {
        transform: scale(1);
        
      }
    }
  }

}

  
.hero-foto__primary {
  display: inline-block;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  border: none;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $primary-white-color;
  background-color: $accent-color;
  cursor: pointer;
}  