  .decision {
    margin: auto;
    text-align: center;

    @media screen and (max-width: 479px) {
      padding-bottom: 118px;
      padding-top: 118px;
      min-width: 100%;
    } 

    @media screen and (max-width: 767px) {
      padding-bottom: 118px;
      padding-top: 118px;
      min-width: 480px;
    }  

    @media screen and (min-width: 768px) {
      padding-bottom: 118px;
      padding-top: 118px;
      min-width: 768px;
    }  

    @media screen and (min-width: 1200px) {
    padding-bottom: 200px;
    padding-top: 200px;
    max-width: 1600px;
    }  


  }
  
  .hero-foto {
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $bg-hero-second;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero.png);
    background-size: 1600px 600px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/mobile/hero-m@2x.jpg);
      background-size: cover;
    }

    @media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/mobile/hero-m@2x.jpg);
      background-size: cover;
    }

    @media screen and (max-width: 1199px) and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/tablet/hero-t@2x.jpg);
      background-size: cover;
    }

    // @media screen and (min-width: 1200px) {
    //   background-image: linear-gradient(
    //     rgba(47, 48, 58, 0.4),
    //     rgba(47, 48, 58, 0.4)
    //   ),
    //   url(../img/desctop/hero-d.jpg);
    //   background-size: cover;
    // }

  }
  
.hero-foto__titel {
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-white-color;
    font-weight: 900;
    margin-bottom: 30px;
    
    margin-left: auto;
    margin-right: auto;


    @media screen and (max-width: 479px) {
      font-size: 26px;
      line-height: 1.62;
      max-width: 100%;
    }


    @media screen and (max-width: 767px) {
      font-size: 26px;
      line-height: 1.62;
      max-width: 480px;
    }

    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.62;
      max-width: 360px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
      max-width: 696px;
    }

  }

    
  .hero-foto__primary {
    display: inline-block;
    border-radius: 4px;
    min-width: 200px;
    padding: 10px 32px;
    border: none;
  }
  
  .button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $primary-white-color;
    background-color: $accent-color;
    cursor: pointer;
  }
  