.menu__button {
    @media screen and (max-width: 767px) {
        margin: 0;
        padding: 0;
        position: absolute;
        right: 15px;
        top: 10px;
        bottom: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        z-index: 105;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu__btn {
    @media screen and (max-width: 767px) {
        background-color: $primary-white-color;
        border: none;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        fill: $title-text-color;

        &:focus,
        &:hover {
            fill: $accent-color;
            transition-duration: 250ms;
        }
    }
}

.icon-close {
    @media screen and (max-width: 767px)  {
      display: none;  
    }
}

.is-open {
    .icon-close {
        display: block;
    }
    .icon-open {
        display: none;
    }
}

