.grid {
  margin: 0;
  padding: 0;

  @media screen and (min-width: 480px) {
    display: block;
    flex-direction: row;
  } 

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    margin-top: -30px;
    margin-right: -30px;
  }  

    & > .grid__img {
      margin-top: 30px;
      margin-right: 30px;

      
      @media screen and (max-width: 767px) {
        margin-right: 0;
        
      }

      @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc(100% / 2 - 30px);
        
      }

      @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc(100%/3 - 30px);
      }
    }
}

.grid__img {
  @media screen and (min-width: 1200px) {
    border: 1px solid $portfolio-border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    /* outline: 1px solid purple; */

    &:hover .grid__overlay {
      transform: translateY(0%);
    }
  }
  }
 
}

.grid__product {
  border-left: 1px solid $portfolio-border-color;
  border-right: 1px solid $portfolio-border-color;
  border-bottom: 1px solid $portfolio-border-color;
}

.grid__thumb {
  position: relative;
  overflow: hidden;
  
}

.grid__overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  } 



/* .magic {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    translateY(0%);
} */


.grid__content {
  position: relative;
  padding: 20px 24px;
  color: $primary-text-color;
}

.tablet {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
  padding-bottom: 56px;
  }
}

  .grid__magic-text {
  font-size: 18px;
  line-height: 1.56;
  padding: 64px 24px;
  color: $primary-white-color;
}

.grid__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-text-color;
  margin-bottom: 4px;
}

.grid__foto {
  width: 100%;
  height: 100%;
}