.portfolio-list {
    margin: 0;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (min-width: 480px) and (max-width: 767px) {
       justify-content: flex-start;
       padding-right: -8px;

      & > .portfolio-list__portfolio-button {
        flex-basis: calc(100%- 4*8px)/3 ;
        padding-right: 8px;
      }  
    }
  }

  
  
  .portfolio-list__portfolio-button:not(:last-child) {
    padding-right: 8px;
    
  }

  .secondary {
    padding: 6px 22px;
  }
  
  .portfolio-list__button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: $title-text-color;
    background-color: $secondary-bg-color;
    cursor: pointer;
    border-style: none;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      background-color: $accent-color;
      color: $primary-white-color;
  
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  

  
  
  .portfolio-gallery__text {
    font-size: 16px;
    line-height: 1.88;
  }