.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  
  .qualities {
    padding-bottom: 0px;
  }

  .quality {
    padding: 0;
    margin: 0;
  
    display: flex;
    flex-wrap: wrap;
  
    margin-right: -30px;

     
    & > .quality__punct {
      flex-basis: calc(100% / 4 - 30px);
      margin-right: 30px;
    }
  }
 
  
  .quality__image-box {
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: $icon-bg-color;
    border-radius: 4px;
  }
  
  @each $label in astronaut, computer, time, sputnic {
    #{$label}-icon {
    background-repeat: no-repeat;
    background-position: center;}
  }
  
  .sputnic {
    background-image: url(../img/sputnic.png);
  }
  .time {
    background-image: url(../img/time.png);
  }
  
  .computer {
    background-image: url(../img/computer.png);
  }
  
  .astronaut {
    background-image: url(../img/astronaut.png);
  }
  
  .quality__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    color: $title-text-color;
    padding-top: 0;
    padding-bottom: 10px;
  }
  
  .quality__text {
    margin: 0;
    padding: 0;
  }
  