  .site-nav {
      display: flex;
      align-items: center;
    }
    
    & .current {
      color: $accent-color;
      position: relative;
    }
        
    .site-nav__link {
      padding: 32px 0;
      color: inherit;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: $title-text-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      
    }
      
    .site-nav__item {
      align-items: center;
      display: inline-flex;
    }
    
    & + .site-nav__item {
      margin-left: 50px;
    }
    
    & a:hover,
    & a:focus {
      color: $accent-color;
      fill: currentColor;
    }
    
    .decor::after {
      display: block;
      content: "";
      width: 48px;
      height: 4px;
      border-radius: 2px;
      background-color: currentColor;
      position: absolute;
      top: 77px;
    }




