.subscription {
    padding: 0;
    margin: 0;

 }
  
  /* subscription-form */

  .subscription-form {
    margin: 0;
    padding: 0;
  }
  
  .subscription-form__titel {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: $primary-white-color;
  }
  
  // .subscription-form__label {
  //   display: flex;
  // }
  
  .subscription-form__email-type {
    padding-left: 15px;
    min-width: 450px;
    min-height: 50px;
  
    font-size: 16px;
    line-height: 1.25;

    letter-spacing: 0.03em;
    margin-bottom: 20px;
    // margin-right: 12px;
  
    background-color: $hero-bg-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .subscription-form__button {
    padding: 0;
    margin: 0;
    width: 200px;
    height: 50px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87px;
    letter-spacing: 0.06em;
  
    display: inline-flex;
    align-items: center;
    justify-content: center;
  
    color: $primary-white-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    & > .subscription-form__icon {
      margin-left: 10px;
      fill: $primary-white-color;
    }
  }
  
 
  