  // .teem-list {
  //   padding: 0;
  //   margin: 0;
  
  //   display: flex;
  //   flex-wrap: wrap;
  
  //   margin-right: -30px;
  // }
  
  // & > .teem-list__member {
  //   flex-basis: calc(100% / 4 - 30px);
  //   margin-right: 30px;
  // }

  .teem-list {
    padding: 0;
    margin: 0;
  }
  
  .teem-list__member {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  .teem-list__person {
    background-color: $primary-white-color;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  
  .teem-list__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: $title-text-color;
    padding-bottom: 10px;
  }
  
  .teem-list__profession {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    padding-bottom: 16px;
  }
  