html {
  box-sizing: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: 479px) {
    width: 320px;
     // margin-left: 0;
     // margin-right: 0;
   }
   

  @media screen and (min-width: 480px) {
   max-width: 480px;
    // margin-left: 0;
    // margin-right: 0;
  }

  @media screen and (min-width: 768px) {
   max-width: 768px;
  //  margin-right: 0;
  }

  @media screen and (min-width: 1200px) {
    min-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $primary-white-color;
  background-color: $accent-color;
  cursor: pointer;
}
