/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #fff;
$primary-bg-color: #e5e5e5;
$secondary-bg-color: #f5f4fa;
$logo-color: #000;
$hero-bg-color: #2f303a;
$header-border-color: #ececec;
$portfolio-border-color: #eeeeee;
$hero-bg-alfa-color: #c4c4c4;
$icon-color-header: #757575;
$icon-bg-color: #f5f4fa;
$icon-color: #afb1b8;
$bg-hero-second: #c4c4c4;


